<ion-header>
  <ion-toolbar>
    <ion-title>PlayListDownload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10">
        <ion-searchbar value="RDYxjMVR7t36E" cancel-button-text="Donwload" cancel-button-icon="trash" placeholder="PlayListId"></ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="find()" expand="block">
          Buscar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-modal #viewPlayList (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Download {{model_vars?.playlist_info?.snippet?.title}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        
        <ion-card>
          <img alt="" src="{{model_vars?.playlist_info?.snippet?.thumbnails?.maxres?.url}}" />
          <ion-card-header>
          </ion-card-header>
        
          <ion-card-content>
            <ion-item>
              <ion-list [inset]="true">
                <ion-item *ngFor="let video of videos" >
                  <ion-label>{{video?.snippet?.title}}</ion-label>
                </ion-item>
              </ion-list>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #DownloadMusic (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
      </ion-header>
      <ion-content class="ion-padding">
        
        <ion-card>
          <img alt="Silhouette of mountains" src="{{model_vars?.video_atual?.snippet?.thumbnails?.maxres?.url}}" />
          <ion-card-header>
            <ion-card-title>DOWNLOADING ...</ion-card-title>
            <ion-card-subtitle>{{model_vars?.video_atual?.snippet?.title}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-progress-bar [buffer]="0" [value]="model_vars.progress"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let playlist of playlists;" sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="6">
        <app-playlist [data]="playlist"></app-playlist>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>