<ion-card>
  <ion-list>
    <ion-item lines="full">
      <ion-badge slot="start">{{((PlaylistInfo.music_time_played)/60000).toFixed(2)}}</ion-badge>
      <ion-label>Minutos tocados</ion-label>
      <ng-content slot="end">
      </ng-content>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-10>
      <img *ngIf="this.tocando; else elseBlockImg" alt="{{MusicTocando.data.title}}" src="{{MusicTocando.data.thumbnail}}" />
      <ng-template #elseBlockImg>
        <img alt="{{data.title}}" src="{{data.thumbnail}}" />
      </ng-template>
    </ion-col>
    <ion-col col-1></ion-col>
  </ion-row>
  
  <ion-card-header>
    <ion-card-title *ngIf="this.tocando; else elseBlockTitle">{{MusicTocando.data.title}}</ion-card-title>
    <ng-template #elseBlockTitle>
      <ion-card-title>{{data.title}}</ion-card-title>
    </ng-template>
    
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="anterior()" expand="block">
            <ion-icon slot="icon-only" name="play-skip-back-sharp"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" *ngIf="this.tocando; else elseBlock" (click)="stop()">
            <ion-icon name="pause-circle-outline"></ion-icon>
          </ion-button>
          <ng-template #elseBlock>
            <ion-button expand="block" (click)="play()">
              <ion-icon name="play-circle-outline"></ion-icon>
            </ion-button>
          </ng-template>          
        </ion-col>
        <ion-col>
          <ion-button (click)="proximo()" expand="block">
            <ion-icon slot="icon-only" name="play-skip-forward-sharp"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Musicas</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col sizeXs="12" sizeSm="12" sizeMd="6" sizeLg="4" *ngFor="let musica of musicas; let i = index">
              <music #musica (OnEnd)="this.musicaTerminou()" [data]="musica" >
              </music>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  
</ion-card>